body {
    font-family: 'Ubuntu', serif;
    font-size: 15px;
    color:#666666
  }

.navbar{
    margin-bottom: 0;
    border-radius: 0;
    background-color: rgb(163, 141,28);
    color:#fff;
    padding: 5px 0;
    font-size: 1.2em;
    border:0;
}

.navbar-brand{
    float: left;
    min-height: 55px;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover{
    color: #fff;
    background-color: rgb(163, 141,28);
}

.navbar-inverse .navbar-nav li a{
    color: #D5D5D5;
}

.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
}

.cform{
    width: 50%;
    margin: auto;
}




.btn{
    font-size: 18px;
    color: #fff;
    padding: 6px 12px;
    background-color: rgb(163, 141,28);
    border: 2px solid #fff;

}



.btn2{
    font-size: 18px;
    color: #fff;
    padding: 12px 22px;
    background-color: rgb(163, 141,28);
    border: 2px solid #fff;
    margin-bottom: 10px;
    border-radius:10px;
}

.fimage{
    height: 80px;
    width: 80px;
}

.container{
    margin: 1% auto;
}

.about{
    width: 40%;
    margin: auto;
    padding: 20px;
}


.comment {
    margin-left: 10%;
    margin-right: 10%;
}

.nocomment{
    margin-left: 10%;
    margin-right: 10%;
}

.comment p{
    margin-left: 3%;
}

#recent{
    margin: 0 0 0 0;
}


#btn1{
    margin-left: 20px;
}

#icon{
    max-width: 200px;
    margin: 1% auto;
}


footer{
    width: 100%;
    background-color: rgb(163, 141,28);
    padding: 4%;
    color: #fff; 
    margin-top: 20px;  
}

#ftext1{
    width: 95%;
    margin:auto;
}
.fa{
    padding: 20px;
    font-size: 30px;
    color:#fff;
}

.fa:hover{
    color: #000000;
}

.work{
    width: 35%;
    margin: auto;
    text-align: center;

}

.work a:hover{
    text-decoration: none;
    color: #000000;
}

.myforms{
    width: 30%;
    margin: auto;
    padding: 20px;
}

.row h4{
    color: #fff;
}

.row a:hover{
    font-size: 20px;
}

.row a{
    text-decoration: none;
}

.myforms h3{
     text-align: center;
     color: rgb(163, 141,28);
}

.comform{
    width: 50%;
    margin-right: 50%;
    margin-left: 4%;
}

#regshow{
    background: 
      /* top, transparent red */
      linear-gradient(
        rgba(73,78,104, 0.35),
        rgba(73,78,104, 0.35)
      ),
      url("/static/blog/pbc99.jpg");
      color: #ffffff;
    min-height: 800px;
    text-align: center;
}

#regshow2{
    background: 
      /* top, transparent red */
      linear-gradient(
        rgba(73,78,104, 0.50),
        rgba(73,78,104, 0.50)
      ),
      url("/static/blog/pbc99.jpg");
      color: #ffffff;
    min-height: 600px;
    text-align: center;
}

.reg{
    width:50%;
    margin:auto;
    text-align: left;
}
#tryit{
    margin-left: 10%;
    margin-right: 10%;
}

.form-text{
    display: none;
}
.work a{
    color: rgb(163, 141,28);
}

.blogpost a:hover{
    text-decoration: none;
}

.blogpost a{
    text-decoration: none;
    
}

#myblog {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 198px;
}



@media (max-width:1000px){
    .carousel-caption{
        display:none;
    }

    #icon{
        max-width: 150px;
    }

    .myforms{
        width: 90%;
        margin: auto;
        padding: 20px;
    }

    .about{
        width: 95%;
        margin: auto;
        padding: 20px;
    }

    .comform{
        width: 80%;
        margin:auto;
    }

    .work{
        width: 70%;
        margin: auto;
        text-align: center;
    }

    .reg{
        width:70%;
        margin:auto;
        text-align: left;
    }

    .fimage{
        height: 60px;
        width: 60px;
    }
}