{% extends 'base_generic.html' %}


{% block content %}
{% load static %}
<link rel='stylesheet' href='{% static "blog/styles.css" %}'>

    <div class='text-center'>
        <h2 style="font-family: 'Tangerine', serif; font-size: 58px; color:#666666;">About Us</h2>
        <img src="{% static 'blog/logo1.jpg' %}" height="200px" width="200px">
    </div>
    
    <div class='about' style='font-size:15px'>
        <p >My name is Helen Amichi Odoma, i write about every story daily living affords me. </p>
        <p>A journal of my life's experiences, the beauty and challenges of living in Africa. My story through my own eyes. Something to make you live better, something to sustain your smile.</p>
    </div>

{% endblock %}