{% extends 'base_generic.html' %}

{% block content %}
{% load static %}
<link rel='stylesheet' href='{% static "blog/styles.css" %}'>


</div>
<div class='container' >
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- first add -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-8129306872149296"
             data-ad-slot="6829677282"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    <h1 style="font-family: 'Tangerine', serif; font-size: 48px; color:#666666;">Recent Posts</h1>
    {% for posts in post  %}
    <div class='container' id='myblog'>
        <div class='blogpost'>
            <h3><strong><a href='/post/{{ posts.id }}'>{{ posts.title }}</strong></h3></a>
            <h4><i>{{ posts.time }}</i></h4>
            <p style="text-align: justify;">{{ posts.body }}</p>
        </div>
           
    </div>
    <a href='/post/{{ posts.id }}'><button type='button' class='btn btn-default' id='btn1'>Continue Reading</button></a>
    <hr style='border-color:rgb(163, 141,28);'> 
    {% endfor %}
</div>
<div class='text-center'>
   <a href="{% url 'posts' %}"> <button type='button' class='btn btn-default'>View Older Posts</button></a>
</div>
{% endblock %} 
